
*.ipynb
*.pyc
.ipynb_checkpoints/game-checkpoint.csv
testing/
__pycache__/
.DS_Store
.ipynb_checkpoints/setup-checkpoint.cfg
.ipynb_checkpoints/setup-checkpoint.py
*.gz
.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/pyproject-checkpoint.toml
src/cbbpy/.ipynb_checkpoints/mens_scraper-checkpoint.py
